<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body>
		<div class="container container-fluid">
		  <!-- Example row of columns -->
		  <div class="row">
              <div class="col-md-12">
                    <%- content %>
              </div>
		  </div>
		</div>
	</body>
</html>