<div class="panel panel-success">
    <div class="panel-heading">Paid Invoice: <%= _id %></div>
    <div class="panel-body">
        <p class="green">Invoice <%= id %> has been paid in full!</p>
        <span class="green glyphicon glyphicon-ok" style="display:block;font-size:40px;margin:10px;"></span>
        Thanks for the <span class="green"><%= amount %>BTC</span>!
    </div>
</div>