<div class="panel panel-warning">
    <div class="panel-heading">Invoice Not Found: <%= _id %></div>
    <div class="panel-body">
        <p class="yellow">Oh SnapCard! Invoice <%= _id %> does not exist.</p>
        <p>(Or does it...<a href="#" title="Nope.">?</a>)</p>
    </div>
</div>